.box {
   padding-left: 2rem;
   border-left: 0.2rem solid #9ca3a2;
   @include transition(border-color);

   .heading {
      cursor: pointer;
      @include flex(space-between, center);
      .title {
         @include font-style(2rem, 600, normal, 2.6rem);
         padding-block: 1rem;
      }
      .icon-container {
         display: grid;
         place-items: center;
         color: var(--primary-color);
         user-select: none;

         @include transition(transform);

         .icon-svg {
            @include size(2rem);
            flex-shrink: 0;
         }
      }
   }
   .box-answer {
      visibility: hidden;
      display: grid;
      grid-template-rows: 0fr;
      padding-inline: 2rem;
      transition: all 0.2s ease-in-out;
      overflow: hidden;
      &__inner {
         min-height: 0;
         line-height: 1.5;
      }
   }

   &.active {
      border-color: var(--secondary-color);
      .heading {
         .icon-container {
            transform: rotate(45deg);
            color: var(--secondary-color-2);
         }
      }
      .box-answer {
         visibility: visible;
         grid-template-rows: 1fr;
         padding-block: 1rem;
      }
   }
}
