.row {
   position: relative;

   &::before {
      position: absolute;
      @include size(2.8rem);
      content: '';
      top: 0;
      right: 0;
      border-radius: 50%;
      background-color: var(--secondary-color);
      transform: translateY(-100%);
   }

   .box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
   }
}
@include Desktop {
   .row {
      .box {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}
@include Tablet {
   .row {
      .box {
         grid-template-columns: repeat(1, 1fr);
      }
   }
}
