.form-control {
	display: flex;
	flex-direction: column;
	$padding: 2rem;
	gap: 0.5rem;

	label {
		text-align: start;
		font-weight: 500;
		font-size: 1.8rem;
		color: var(--primary-color);
		user-select: none;
	}

	.form-select {
		position: relative;
		select {
			width: 100%;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: none;
			outline: none;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 1.6rem;
			border-radius: 0.8rem;
			padding: $padding;
			padding-right: calc(#{$padding} * 3);
			border: 0.2rem solid var(--primary-color);
			background-color: transparent;
		}

		.icon {
			position: absolute;
			height: 2rem;
			width: 2rem;
			right: $padding;
			top: 50%;
			transform: translateY(-50%);
			stroke-width: 2;
		}
	}
}
