.frame {
   padding-top: 15rem;
   padding-bottom: 15rem;
}

.box {
   background-color: #f7f2f2;
   height: 6.8rem;
   display: flex;
   border-radius: 3.2rem;
   box-shadow: 0 0 0.4rem 0 #26262626 inset, 0 0 0.8rem 0 #26262640 inset;
   gap: 0.6rem;
   padding: 0.6rem;
}

.title {
   font-size: 2.8rem;
}

.inner {
   position: relative;
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;

   .line {
      position: absolute;
      bottom: 100%;
      height: 8rem;
      width: 0.5rem;

      .bubble {
         position: absolute;
         width: 4.8rem;
         height: 4.8rem;
         bottom: 100%;
         left: 50%;
         border-radius: 50%;
         aspect-ratio: 1;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #fffafa;
         box-shadow: 0 0 0.8rem 0 #26262640 inset, 0 0 0.4rem 0 #26262626 inset;
         transform: translateX(-50%);

         .border {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-width: 0.4rem;
            border-style: solid;

            svg {
               padding: 0.2rem;
            }
         }
      }
   }

   .year {
      font-size: 2.4rem;
      font-weight: 700;
      color: var(--white-color);
   }
   .content {
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: center;
      top: 100%;
      gap: 1rem;
      padding: 1rem;
      margin-top: 1rem;

      .title {
         font-size: 1.6rem;
         font-weight: 700;
      }
      .details {
         font-size: 1.4rem;
         font-weight: 400;
         color: #545454;
      }
   }

   &.reverse {
      .line {
         top: 100%;
         bottom: auto;
         .bubble {
            top: 100%;
            bottom: auto;
         }
      }
      .content {
         bottom: 100%;
         top: auto;
         margin-top: 0;
         margin-bottom: 1rem;
         flex-direction: column-reverse;
      }
   }
}

.inner-vertical {
   display: none;
}

@include Tablet {
   $circle-width: 8rem;
   $brand-color: #889f9b;
   $dot-width: 0.8rem;
   $brand-width: 2px;
   $spacing: 0.7rem;

   .frame {
      padding-top: 5rem;
      padding-bottom: 5rem;
   }

   .title {
      font-size: 2.5rem;
   }
   .box {
      background-color: transparent;
      height: auto;
      flex-direction: column;
      border-radius: 0;
      box-shadow: none;
      gap: 7rem;
      padding: 0;
   }
   .inner {
      display: none;
   }
   .inner-vertical {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .link {
         position: relative;
         flex: 1;
         height: $brand-width;
         background-color: $brand-color;
         margin-left: calc($spacing - $brand-width);
         margin-right: calc($dot-width + $spacing);

         &::after {
            position: absolute;
            content: '';
            @include size($dot-width);
            border: $brand-width solid $brand-color;
            border-radius: 50%;
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
            box-sizing: border-box;
         }
      }

      .icon-container {
         position: relative;
         width: $circle-width;
         display: flex;
         aspect-ratio: 1;
         border-radius: 50%;
         box-shadow: 2px 0px 2px 0px #45454533 inset,
            0px 1px 4px 0px #57565626 inset;

         padding: 0.5rem;

         .year {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            border-width: 0.5rem;
            border-radius: 50%;
            border-style: solid;
            svg {
               width: 50%;
               height: auto;
            }
         }
         .brand {
            position: absolute;
            width: calc(100% + $spacing * 2);
            height: calc(100% + $spacing * 2);
            left: calc($spacing * -1);
            top: calc($spacing * -1);
            border-radius: 50%;
            border: $brand-width solid transparent;
            border-top-color: $brand-color;
            border-bottom-color: $brand-color;
            transform: rotate(-45deg);

            &-top,
            &-bottom {
               position: absolute;
               @include size(100%);
               top: 0;
               left: 0;
               transform: rotate(45deg);

               &__dot {
                  @include size($dot-width);
                  border: $brand-width solid $brand-color;
                  border-radius: 50%;
               }
            }

            &-top {
               &__dot {
                  position: absolute;
                  top: -50%;
                  left: 50%;
                  transform: translate(-50%, -100%);
               }
               &::before {
                  position: absolute;
                  content: '';
                  width: 50%;
                  height: $brand-width;
                  top: 50%;
                  right: 100%;
                  background-color: $brand-color;
                  transform: translateY(-50%);
               }
               &::after {
                  position: absolute;
                  content: '';
                  height: 50%;
                  width: $brand-width;
                  left: 50%;
                  bottom: 100%;
                  background-color: $brand-color;
                  transform: translateX(-50%);
               }
            }
            &-bottom {
               &__dot {
                  position: absolute;
                  bottom: -50%;
                  left: 50%;
                  transform: translate(-50%, 100%);
               }
               &::after {
                  position: absolute;
                  content: '';
                  height: 50%;
                  width: $brand-width;
                  left: 50%;
                  top: 100%;
                  background-color: $brand-color;
                  transform: translateX(-50%);
               }
            }
         }
      }

      .wrapper {
         width: 70%;
         box-shadow: 2px 0px 2px 0px #45454533 inset,
            0px 1px 4px 0px #57565626 inset;

         border-radius: 999999px;
         padding: 0.5rem;
      }
      .content {
         text-align: center;
         border-width: 4px;
         border-style: solid;
         border-radius: 999999px;
         padding: 1.5rem;

         &.primary {
            border-color: var(--primary-color);
         }
         &.secondary {
            border-color: var(--secondary-color);
         }

         .title {
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
         }
         .details {
            font-size: 1rem;
            color: #889f9b;
         }
      }
   }
}
