.heading {
   margin-bottom: 3rem;
}

.box {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 3rem;
}

.title {
   font-size: 2.8rem;
}

.card {
   height: 100%;
   border: 1px solid var(--secondary-color);
   border-radius: 0.5rem;
   padding: 2rem;
   &-title {
      font-size: 2.1rem;
      line-height: 2.8rem;
      text-align: center;
   }
   &-spacer {
      border: 0.1rem dashed #9ca3a2;
      margin-block: 2rem;
   }
   &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
   }

   &-item {
      position: relative;
      display: flex;
      height: 4rem;
      width: 4rem;
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         border-radius: 50%;
         &:first-child {
            visibility: hidden;
         }
         &:last-child {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0.3s ease-in-out;
            &:hover {
               transform: translate(-50%, -50%) scale(1.5);
               z-index: 1;
            }
         }
      }
   }
}

@include Desktop {
   .box {
      grid-template-columns: repeat(1, 1fr);
   }
}

@include Tablet {
   .title {
      font-size: 2.5rem;
   }
   .card {
      &-title {
         font-size: 2rem;
         line-height: 2.5rem;
      }
   }
}
