.section {
   position: relative;
   @include background('@assets/images/banner.webp');
   overflow: hidden;

   &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #fff, $alpha: 0.8);
   }

   .deco {
      position: absolute;
      @include size(5rem);
      color: var(--secondary-color);
      animation: appear 1s linear;

      &.flower {
         top: 5rem;
         left: 55%;
      }
      &.octagram {
         left: 25%;
         bottom: 10%;
      }
      &.hexagon {
         right: 10rem;
         bottom: 10rem;
      }
   }

   .wrapper {
      --content-width: 50%;
      --gallery-width: 50%;
      --img-height: 65rem;

      animation: appear 1s linear;
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: 3rem;

      .content {
         margin: auto;
         width: var(--content-width);
         .title {
            margin-bottom: 1rem;
         }
         .actions {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
         }
      }
      .gallery {
         position: relative;
         display: flex;
         justify-content: center;
         width: var(--gallery-width);
         img {
            width: auto;
            height: var(--img-height);
            object-fit: cover;
         }
         .tag-1 {
            top: 50%;
            right: 0;
         }
         .tag-2 {
            left: 5%;
            bottom: 5rem;
         }
      }
   }
}

@include Desktop {
   .section {
      .deco {
         &.flower {
            left: 10%;
         }
         &.octagram {
            top: 50%;
            left: 10%;
         }
         &.hexagon {
            bottom: 5%;
         }
      }

      .wrapper {
         --content-width: 80%;
         --gallery-width: 70%;
         --img-height: 60rem;

         flex-direction: column;
         align-items: center;
         padding-top: 0;

         .content {
            .title {
               text-align: center;
            }
            .actions {
               margin-top: 1rem;
               display: flex;
               justify-content: center;
               gap: 1rem;

               .btn-more {
                  display: none;
               }
            }
         }
      }
   }
}

@include Tablet {
   .section {
      .wrapper {
         --gallery-width: 50%;
         --img-height: 45rem;

         .gallery {
            .tag-1 {
               right: -10%;
            }
            .tag-2 {
               left: -10%;
            }
         }
      }
   }
}

@include Mobile {
   .section {
      .deco {
         &.hexagon {
            right: 3rem;
         }
      }
      .wrapper {
         padding-top: 7rem;
         .gallery {
            .tag-1 {
               right: -25%;
            }
            .tag-2 {
               left: -25%;
            }
         }
      }
   }
}

@keyframes appear {
   from {
      opacity: 0;
      scale: 0.5;
   }
   to {
      opacity: 1;
      scale: 1;
   }
}
