.navbar {
   --nav-fz: 1.7rem;
   --section-fz: 1.6rem;
   --sub-fz: 1.5rem;
   --nav-border-radius: 0.7rem;
   --nav-box-shadow: rgba(0, 0, 0, 0.12) 0 0.1rem 1.2rem;
   --dropdown-width: 23rem;

   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   background-color: var(--white-color);
   user-select: none;
   z-index: 10;

   &-main {
      .wrapper {
         margin-block: 1rem;
         @include flex(space-between, center);

         .navbar-brand {
            height: fit-content;
            @include flex-center;
         }

         .navbar-nav {
            @include flex(center, center, row, 5rem);

            .nav-item {
               position: relative;
               &:hover {
                  & > .dropdown {
                     opacity: 1;
                     visibility: visible;
                  }
               }
               .nav-link {
                  position: relative;
                  display: inline-flex;
                  align-items: center;
                  font-size: var(--nav-fz);
                  font-weight: 700;
                  color: var(--dark-color);
                  //   padding: 1rem;
                  text-decoration: none;
                  gap: 0.5rem;
                  @include transition(color);

                  &__icon {
                     @include size(var(--nav-fz));
                     stroke-width: 3;
                     @include transition(transform);
                  }

                  &.cursor-default {
                     cursor: default;
                  }

                  &:hover {
                     &__icon {
                        transform: rotate(180deg);
                     }
                  }

                  &:hover,
                  &.active {
                     color: var(--secondary-color-2);
                  }
                  &:hover::after {
                     width: 100%;
                  }
                  &::after {
                     position: absolute;
                     content: '';
                     width: 0;
                     height: 0.25rem;
                     bottom: -1rem;
                     left: 50%;
                     border-top-left-radius: 1rem;
                     border-bottom-left-radius: 1rem;
                     border-top-right-radius: 1rem;
                     border-bottom-right-radius: 1rem;
                     background-color: var(--secondary-color-2);
                     transform: translateX(-50%);
                     @include transition(width);
                  }

                  &.active::after {
                     width: 100%;
                  }
               }
            }
         }
         .navbar-toggle {
            display: none;
         }
      }
   }

   &-sections {
      background-color: var(--secondary-color-2);
      padding-block: 2rem;
      &-toggle {
         display: none;
      }
      &-nav {
         @include flex(space-between, center);

         .nav-item {
            .nav-link {
               position: relative;
               padding: 0.5rem;
               font-size: var(--section-fz);
               font-weight: 500;
               text-decoration: none;
               color: var(--white-color);
               cursor: pointer;

               &::after {
                  position: absolute;
                  content: '';
                  width: 0;
                  height: 0.2rem;
                  bottom: 0;
                  left: 50%;
                  border-top-left-radius: 1rem;
                  border-bottom-left-radius: 1rem;
                  border-top-right-radius: 1rem;
                  border-bottom-right-radius: 1rem;
                  background-color: var(--white-color);
                  transform: translateX(-50%);
                  @include transition(width);
               }
               &.active::after {
                  width: 100%;
               }
               &:hover::after {
                  width: 100%;
               }
            }
         }
      }
   }
}

.dropdown {
   --bg-hover: #f2f2f2;
   --dropdown-space: 1.5rem;
   --dropdown-icon-size: 1.3rem;

   position: absolute;
   width: var(--dropdown-width);
   top: 100%;
   left: 50%;
   font-size: var(--sub-fz);
   font-weight: 600;
   color: var(--dark-color);
   background-color: var(--white-color);
   border-radius: var(--nav-border-radius);
   padding: var(--dropdown-space);
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: var(--dropdown-space);
   box-shadow: var(--nav-box-shadow);
   opacity: 0;
   visibility: hidden;
   transform: translate(-50%, 10%);
   z-index: 2;
   @include transition;

   &-item {
      &.active {
         .dropdown-item__icon {
            transform: rotate(180deg);
         }
      }

      &__icon {
         @include size(var(--dropdown-icon-size));
         display: flex;
         stroke-width: 3;
         flex-shrink: 0;
         @include transition;
      }

      &__heading {
         @include flex(space-between, center);
         cursor: pointer;
         gap: var(--dropdown-space);
         &:hover {
            color: var(--secondary-color-2);
         }
      }
   }
}

.box-menu {
   --menu-padding: 1rem;

   display: grid;
   grid-template-rows: 0fr;
   color: var(--dark-color);
   overflow: hidden;
   transition: all 0.2s ease;

   &.open {
      margin-top: var(--dropdown-space);
      grid-template-rows: 1fr;
   }

   .menu {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: var(--dropdown-space);
      overflow: hidden;

      &-item {
         min-height: 0;
         padding-inline: var(--menu-padding);
         transition: all 0.2s ease;

         a {
            color: inherit;
            text-decoration: none;
         }

         &.active {
            & > .menu-item__heading .menu-item__icon {
               transform: rotate(180deg);
            }
         }

         &__heading {
            @include flex(space-between, center);
            cursor: pointer;
            gap: 1rem;
            &:hover {
               color: var(--secondary-color-2);
            }
         }
         &__icon {
            @include size(var(--dropdown-icon-size));
            display: flex;
            stroke-width: 3;
            flex-shrink: 0;
            transition: all 0.2s ease;
         }
      }
   }
}

@include Desktop {
   .navbar {
      &-main {
         position: relative;
         .wrapper {
            .navbar-nav {
               --nav-padding: 1rem;
               position: absolute;
               flex-direction: column;
               align-items: center;
               right: 0;
               top: 100%;
               padding: var(--nav-padding);
               border-radius: var(--nav-border-radius);
               background-color: var(--white-color);
               box-shadow: var(--nav-box-shadow);
               transform: translateX(100%);
               transition: transform 0.3s ease;
               gap: 2rem;
               z-index: 1;

               &.open {
                  transform: translateX(0%);
               }
               .nav-item {
                  .nav-link {
                     .icon {
                        transform: rotate(90deg);
                     }
                     &:hover {
                        .icon {
                           transform: rotate(90deg);
                        }
                     }
                  }
               }
            }
            .navbar-toggle {
               @include flex(center, center);
            }
         }
      }
      &-sections {
         display: none;
         position: absolute;
         right: 0;
         box-shadow: var(--nav-box-shadow);

         &-nav {
            height: 0;
            width: 0;
            flex-direction: column;
            transform: translateX(100%);
            background-color: var(--secondary-color-2);
            transition: all 0.2s ease-in-out;
            overflow: hidden;

            &.open {
               height: auto;
               width: auto;
               transform: translateX(0%);
            }

            .nav-item {
               padding: 2rem 3rem;
               .nav-link {
                  white-space: nowrap;
               }
            }
         }
         &-toggle {
            @include flex(end, center, row, 1rem);
            h3 {
               color: var(--white-color);
            }
         }
      }
   }
   .dropdown {
      top: 0;
      left: -100%;
      transform: translate(-60%, 0);
   }
}

@include Mobile {
   .navbar {
      --nav-fz: 1.5rem;
      --section-fz: 1.5rem;
      --sub-fz: 1.3rem;
      --dropdown-width: 21rem;

      &-sections {
         padding: 1rem;
         .nav-item {
            padding: 1rem;
         }
      }
   }
   .dropdown {
      --dropdown-icon-size: 1.2rem;
   }
}
