.main {
	display: flex;
	gap: 5rem;

	.images {
		width: 55%;
		position: relative;
		.deco-swoosh {
			position: absolute;
			width: 70%;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		img {
			width: 50%;
			object-fit: cover;
			aspect-ratio: 1 / 1.5;
			padding: 0.5rem;
		}
		.img-1 {
			border-radius: 1rem 11.4rem 11.4rem 1rem;
		}
		.img-2 {
			border-radius: 10.75rem 1rem 1rem 10.75rem;
		}
	}

	.content {
		@include flex-center(column, 5rem);
		width: 45%;
		position: relative;

		.deco-zigzag {
			--width-zigzag: 12rem;
			position: absolute;
			width: var(--width-zigzag);
			top: 0;
			left: 50%;
			color: var(--secondary-color);
			transform: translateY(-50%);
			z-index: -1;
		}

		&::after {
			content: '';
			@include size(10rem);
			position: absolute;
			bottom: 20%;
			right: -5rem;
			background-color: var(--secondary-color);
			border-radius: 50%;
			clip-path: polygon(50% 50%, 100% 0, 100% 100%);
			transform: rotate(135deg);
		}
	}
}

@include Desktop {
	.main {
		gap: 5rem;

		.content {
			.deco-zigzag {
				--width-zigzag: 10rem;
				transform: translateY(-100%);
			}
		}
	}
}

@include Tablet {
	.main {
		flex-direction: column-reverse;
		align-items: center;

		.images {
			width: 80%;
			.deco-swoosh {
				bottom: 0;
			}
		}

		.content {
			padding-top: 1rem;
			width: 80%;

			.deco-zigzag {
				--width-zigzag: 8rem;
				left: 100%;
				transform: translate(-100%, -100%);
			}
		}
	}
}

@include Mobile {
	.main {
		.images {
			width: 90%;
		}

		.content {
			width: 100%;
			padding-top: 0;
			.deco-zigzag {
				left: 95%;
				--width-zigzag: 6rem;
			}

			&::after {
				display: none;
			}
		}
	}
}
