.card {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   border: 0.1rem solid var(--secondary-color);
   border-radius: 0.5rem;
   padding: 2rem;
   gap: 1rem;

   &-icon {
      @include size(8rem);
      @include flex(center, center);
      border-radius: 50%;
      color: var(--white-color);
      background-color: var(--primary-color);

      img {
         @include size(4.2rem);
         object-fit: cover;
      }
   }

   &-title {
      font-size: 2.2rem;
      line-height: 3.185rem;
   }
   &-saperator {
      width: 80%;
      border-bottom: 0.1rem dashed #9ca3a2;
   }
   &-description {
      font-size: 1.6rem;
      line-height: 2.3rem;
   }
}

@include Tablet {
   .card {
      &-title {
         font-size: 2rem;
         line-height: 2.5rem;
      }
   }
}
