.form-control {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	user-select: none;
	label {
		font-size: 1.8rem;
		font-weight: 500;
		text-align: start;
	}
	.form-input {
		display: flex;
		align-items: center;
		background-color: #eaeaea;
		border-radius: 0.8rem;

		input {
			flex: 1;
			padding: 2rem;
			border: none;
			outline: none;
			font-size: 1.6rem;
			background-color: transparent;
		}

		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type='number'] {
			-moz-appearance: textfield;
		}

		.icon {
			padding: 2rem;
			padding-left: 0;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			pointer-events: none;

			svg {
				@include size(2rem);
				fill: var(--primary-color);
			}
		}
	}
	&.outline {
		label {
			color: var(--primary-color);
		}
		.form-input {
			background-color: transparent;
			border: 0.2rem solid var(--primary-color);
		}
	}
}
