.form-text {
	background-color: #eaeaea;
	border-radius: 0.8rem;
	textarea {
		width: 100%;
		font-size: 1.6rem;
		padding: 2rem;
		border: none;
		outline: none;
		resize: none;
		background-color: transparent;
	}
}
