.row {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;

   &::after {
      position: absolute;
      content: '';
      @include size(3.8rem);
      border-radius: 1rem;
      background-color: var(--secondary-color);
      right: 5rem;
      bottom: 0;
      transform: rotate(-35deg);
   }
}

.deco {
   color: var(--secondary-color);
}
.col {
   flex: 1;
}

.col-2 {
   position: relative;
   .title {
      margin-bottom: 2rem;
   }

   .zigzag {
      position: absolute;
      width: 12%;
      display: flex;
      top: -30%;
      left: 50%;
      transform: translate(-50%, -100%);
   }
}

.gallery {
   --img-size: 85%;
   --brush-size: 60%;

   position: relative;
   img {
      width: var(--img-size);
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      object-fit: cover;
   }
   .brush-stroke {
      position: absolute;
      width: var(--brush-size);
      right: 0;
      bottom: 0;
   }
}

@include Desktop {
   .row {
      flex-direction: column-reverse;
      &::after {
         left: 0;
         transform: translateX(50%) rotate(-35deg);
      }
   }
   .col-2 {
      margin-bottom: 5rem;
      .title {
         margin-inline: auto;
         text-align: center;
      }

      .zigzag {
         top: 100%;
         left: 80%;
         transform: translateX(-50%);
      }
   }
   .gallery {
      display: flex;
      justify-content: center;
   }
}
