.frame {
   --chapter-title-fz: 2.2rem;
   --chapter-title-lh: 3.185rem;
   --chapter-content-fz: 1.6rem;
   --space: 2rem;

   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   flex: var(--frame-flex);
   border-radius: 2rem;
   background-color: var(--white-color);

   .heading {
      @include flex(space-between, center);
      color: var(--primary-color);
      padding: var(--space);
      user-select: none;
      cursor: pointer;

      .title {
         font-size: var(--chapter-title-fz);
         line-height: var(--chapter-title-lh);
      }
      .icon {
         @include size(3rem);
         padding: 0.5rem;
         stroke-width: 5;
         flex-shrink: 0;
         color: var(--white-color);
         background-color: var(--primary-color);
         border-radius: 50%;
         @include transition(transform);
         user-select: none;
      }
   }

   .saperator {
      margin-inline: var(--space);
      border-bottom: 0.2rem dashed #9ca3a2;
      opacity: 0;
      visibility: hidden;
      @include transition(opacity);
   }

   .box {
      padding-inline: var(--space);
      @include transition(padding);

      .chapters {
         display: flex;
         flex-direction: column;
         overflow: hidden;
         opacity: 0;
         visibility: hidden;
         gap: 1rem;
         @include transition;

         .chapter {
            --dot-size: 1.1rem;

            position: relative;
            font-size: var(--chapter-content-fz);
            padding-left: calc(var(--dot-size) + 1rem);

            &::before {
               position: absolute;
               @include size(var(--dot-size));
               content: '';
               background-color: var(--primary-color);
               border-radius: 50%;
               left: 0;
               top: 50%;
               transform: translateY(-50%);
            }
         }
      }
   }

   &.show {
      .heading {
         .icon {
            background-color: var(--secondary-color-2);
            transform: rotate(45deg);
         }
      }
      .saperator {
         opacity: 1;
         visibility: visible;
      }
      .box {
         padding-block: var(--space);
         .chapters {
            opacity: 1;
            visibility: visible;
         }
      }
   }
}

@include Tablet {
   .frame {
      --frame-flex: 100%;
      --chapter-title-fz: 1.8rem;
      --chapter-title-lh: 2.6rem;
      --chapter-content-fz: 1.3rem;
   }
}
