.feedbacks {
	@include flex-center(column, 5rem);
	.content {
		display: flex;
		overflow: hidden;
	}

	.pagination {
		display: flex;
		justify-content: center;
		gap: 1rem;

		.page {
			@include size(1.5rem);
			border-radius: 50%;
			border: 0.1rem solid var(--secondary-color-2);
			cursor: pointer;
			@include transition;

			&.active {
				background-color: var(--secondary-color-2);
			}
		}
	}
}

@include Mobile {
	.feedbacks {
		gap: 3rem;
	}
}
