.wrapper {
   --gallery-width: 40%;
   --content-width: 60%;

   position: relative;
   display: flex;
   align-items: center;
   padding-block: 10rem;
   gap: 3rem;

   &::after {
      position: absolute;
      content: '';
      @include size(5rem);
      right: 0;
      bottom: 0;
      background-color: var(--secondary-color);
      border-radius: 1rem;
   }

   .gallery {
      --translate-y: 15%;
      --img-main-width: 60%;

      position: relative;
      width: var(--gallery-width);

      .brush-stroke {
         position: absolute;
         width: calc(15% + var(--img-main-width));
         bottom: calc(-1 * var(--translate-y));
         color: var(--secondary-color);
         z-index: 1;
      }

      img {
         width: var(--img-main-width);
         aspect-ratio: 1 / 1.5;
         object-fit: cover;
         border-radius: 4.8rem;

         &.img-1 {
            transform: translateY(calc(-1 * var(--translate-y)));
         }
         &.img-2 {
            position: absolute;
            right: 0;
            transform: translateY(var(--translate-y));
         }
      }
   }
   .content {
      --zigzag-width: 10rem;
      position: relative;
      width: var(--content-width);

      .deco-zigzag {
         position: absolute;
         width: var(--zigzag-width);
         left: 50%;
         top: -5rem;
         transform: translateY(-100%);
         color: var(--secondary-color);
      }

      .btn-see {
         margin-top: 1rem;
      }
   }
}

@include Tablet {
   .wrapper {
      --gallery-width: 80%;
      --content-width: 100%;

      flex-direction: column-reverse;
      gap: 10rem;

      .content {
         --zigzag-width: 7rem;
         text-align: center;
      }
   }
}
