.footer {
   width: 100%;
   background-color: var(--footer-bg);
   padding-block: 5rem;
}

.row {
   display: flex;
   justify-content: space-between;

   &-2 {
      align-items: center;
      margin-top: 3rem;
      gap: 3rem;

      .title {
         font-weight: 500;
      }
   }
   .col {
      max-width: 25%;
   }
   .follow {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.1rem solid transparent;
      border-top-color: var(--white-color);
      border-bottom-color: var(--white-color);
      gap: 3rem;
      padding-block: 2rem;
   }
}

.title {
   font-size: 2.2rem;
   color: #bbd2c7;
   text-transform: uppercase;
   margin-bottom: 2rem;
   &-2 {
      margin-bottom: 0;
   }
}
.copyright {
   flex: 1;
   &-text {
      text-align: center;
      font-size: 1.2rem;
   }
}

.list {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   a {
      text-decoration: none;
      &:hover {
         text-decoration: underline;
      }
   }

   li,
   li a {
      font-size: 1.6rem;
      color: var(--white-color);

      .label {
         word-break: break-all;
      }

      .icon {
         @include size(1.5rem);
         flex-shrink: 0;
         margin-right: 1.5rem;
      }
   }
}
.desc {
   font-size: 2.2rem;
   line-height: 3.185rem;
}

.desc,
.copyright-text {
   color: var(--white-color);
}

@include Tablet {
   .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      .col {
         max-width: 100%;
      }
   }
   .title,
   .list,
   .copyright-text {
      text-align: center;
   }
   .list li {
      justify-content: center;
   }
}

@include Mobile {
   .follow .title {
      font-size: 1.8rem;
   }
}
