.wrapper {
	--width-block: 50%;
	display: flex;
	align-items: center;
	gap: 2rem;

	.introduce {
		width: var(--width-block);
		display: flex;
		flex-direction: column;
		.title {
			position: relative;
			width: fit-content;
			font-size: 3.1rem;
			color: var(--primary-color);
			margin-bottom: 1.5rem;

			&::after {
				position: absolute;
				content: '';
				width: 80%;
				height: 0.3rem;
				left: 0;
				bottom: -0.5rem;
				background-color: var(--secondary-color);
			}
		}
		.desc {
			font-style: italic;
			text-align: justify;
		}
		.img {
			@include size(100%);
			object-fit: cover;
		}
	}
	.form-input {
		width: var(--width-block);
		.form {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			&-action {
				text-align: center;
			}
		}
	}
}

@include Tablet {
	.wrapper {
		--width-block: 100%;

		.introduce {
			display: none;
		}
	}
}
